.main_container {
    max-width: 1170px;
	margin:auto;
    padding: 30px 0 30px;
    display: flex;
}

.main_photos {
    max-width: 585px;
    display: grid;
    grid-template-columns: 1fr 1fr;
	grid-gap: 10px;

}

.main_container img {
    height: 300px;
    width: 300px;
    -webkit-box-shadow: -1px 10px 23px 0px rgba(66,64,55,0.76); 
    box-shadow: -1px 10px 23px 0px rgba(66,64,55,0.76);
    
}

.main_valores {
    max-width: 585px;
    margin-left: 55px; 
}

.main_tag {
    padding-top: 10px
    font-size: 15px;
    position: relative; 
}

.main_valores .main_tag::before {
    content: '';
	position: absolute;
	left:0;
	bottom: -7px;
	background-color: #ffa81d;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}

.main_titulo {
    font-size: 25px;
    padding-top: 15px;
    margin-left: 35px;
    font-weight: 500;
}
