.cabecalho {
    text-align: center;
    font-size: 0.6rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.23em;
    
    color: #fff;
    background-color: #edee84;

    -webkit-box-shadow: -1px 10px 23px 0px rgba(66,64,55,0.76); 
    box-shadow: -1px 10px 23px 0px rgba(66,64,55,0.76);
}

.cabecalho__logo {
    padding: 2px 0 2px 0;
    width: 9em;
}

.cabecalho__menu {
    background-color: #ffa81d;
}

.cabecalho__item-menu {
    display: inline-block;
}

.cabecalho__item-menu:hover {
    background-color: black;
    border-radius: 30px;
    transition: 300ms;
}

.cabecalho__item-menu a {
    display: inline-block;
    padding: 1.86em 1.42em;
}