* {
    margin:0;
	padding:0;
	box-sizing: border-box;
}

.main_container{
    max-width: 1170px;
	margin:auto;
}

.main_row {
    display: flex;
	flex-wrap: wrap;
}

.main {
    margin-top: 50px;
}

.main_col {
    padding: 0 15px;
}

.main_col h4 {
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}

.main_col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #ffa81d;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}

.main_col ul li:not(:last-child){
	margin-bottom: 10px;
}

.main_valores ul li a{
	font-size: 16px;
	text-transform: capitalize;
	text-decoration: none;
	color: #2e4255;
	display: block;
}

.main_preco_bloco {
    background-color: black;
    width: 60%;
    margin: auto;
    border-radius: 50%;
    -webkit-box-shadow: -1px 10px 23px 0px rgba(66,64,55,0.76); 
    box-shadow: -1px 10px 15px 0px rgba(66,64,55,0.76);
}

.main_preco_bloco:hover {
    background-color: #ffa81d;
}

.main_valores .main_preco_bloco .main_preco >* {
    font-weight: 500;
    font-size: 40px;
    text-align: center;
    color: white;
    transition: all 0.5s ease;
}

.main_valores .main_preco_bloco .main_preco >*:hover {
    padding-left: 8px;
    color: black;
}

.main_photos {
    background-color: #edee84;
    -webkit-box-shadow: -1px 10px 23px 0px rgba(66,64,55,0.76); 
    box-shadow: -1px 10px 23px 0px rgba(66,64,55,0.76);
}

.main_item  {
    display: block;
    width: 50%;
    margin-left: auto;
    -webkit-box-shadow: -1px 10px 23px 0px rgba(66,64,55,0.76); 
    box-shadow: -1px 10px 23px 0px rgba(66,64,55,0.76);
}

.main_item_left {
    display: block;
    width: 50%;
    margin-right: auto;
    -webkit-box-shadow: -1px 10px 23px 0px rgba(66,64,55,0.76); 
    box-shadow: -1px 10px 23px 0px rgba(66,64,55,0.76);
}


